REGISTRY: {{ .Values.REGISTRY }}

env:
{{ if eq .Environment.Name "frinx" }}
  PSQL_HOSTNAME: {{ .Values.psqlFqn }}
  PSQL_USERNAME: {{ .Values.psqlUser }}@{{ .Values.psqlFqn }}
  PSQL_PASSWORD: {{ .Values.psqlPasswd }}
{{ end }}

ingress:
{{ if eq .Environment.Name "frinx" }}
  enabled: true
{{ end }}
  hosts:
    - host: "{{ .Values.rmHost }}"
      paths: [/]
